# Unnecessary LiveCode Builder files
*.lcm
*.lci
*.xml
*.lcdoc
._hunspell-test-suite.livecode
._hunspell-tests-Paul.livecode
._hunspell-test-suite.livecode
._XTALK_Wordlist.livecode
._hunspell-test-suite.livecode
dictionaries/xTalk/._README_OXT.txt
._hunspell-test-suite.livecode
dictionaries/xTalk/._README_OXT.txt
._hunspell-test-suite.livecode
dictionaries/xTalk/._README_OXT.txt
